@import '../common';
@import '../mixins';

$minimum-modal-margin: 48px;

.container {
  box-shadow: $Shadow40;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;

  @include default-scroll-bar;
  overflow-y: auto;
}
